




.tags {
  margin-top: 0;
  font-size: 22px;
  font-family: 'Baloo Bhaijaan', cursive;

  /*font-family: 'Black Ops One', cursive;*/
}

.projectsContainer {
  height: 270px;
}
.projects {
  background-size: cover;
  margin: auto;
  justify-content: center;
  /*height: 75%;

  width: 75%;*/
  height: 140px;
  width: 75%;

  /*border: 3px solid white;*/
  /*-moz-box-shadow:    0px 4px 4px 1px black;
  -webkit-box-shadow: 0px 4px 4px 1px black;
  box-shadow: 4px 6px 6px 1px black;*/

}
.projects:hover {
  -moz-box-shadow:    0px 3px 3px 3px black;
  -webkit-box-shadow: 0px 3px 3px 3px black;
  box-shadow:         0px 3px 3px 3px black;
}

.main-page {
  margin-top: 15px;
  height: 60%;
  width: 75%;
  margin: 0 auto;

  /*background: red;
 background: -webkit-linear-gradient(left top, red, yellow);
 background: -o-linear-gradient(bottom right, red, yellow);
 background: -moz-linear-gradient(bottom right, red, yellow);
 background: linear-gradient(to bottom right, #ff0101, #0014ff); */


  /*border: 5px inset #d9d9e8;*/


}






img {
  height: 100%;
  width: 100%;
}
