
#projectsContainerOne {
  height: 500px;
  width: 75%;
  /*border: 2px solid black;*/
  margin: 0 auto;
}

#projectsContainerTwo {
  height: 500px;
  width: 75%;
  /*border: 2px solid black;*/
  margin: 0 auto;
}

#projectsContainerThree {
  height: 500px;
  width: 75%;
  /*border: 2px solid black;*/
  margin: 0 auto;
}

#projectsContainerFour {
  height: 500px;
  width: 75%;
  /*border: 2px solid black;*/
  margin: 0 auto;
}

.mainProjectsContainer {
  margin-top: 20px;
}

.projects {
  background-size: cover;
  margin: auto;
  justify-content: center;
  /*height: 75%;
  width: 75%;*/
  height: 140px;
  width: 89%;
  /*border: 3px solid white;*/
  /*-moz-box-shadow:    0px 4px 4px 1px black;
  -webkit-box-shadow: 0px 4px 4px 1px black;
  box-shadow: 4px 6px 6px 1px black;*/
}

.projects:hover {
  -moz-box-shadow:    0px 3px 3px 3px black;
  -webkit-box-shadow: 0px 3px 3px 3px black;
  box-shadow:         0px 3px 3px 3px black;
}

.rightArrow {
  height: 5%;
  width: 5%;
  color: #eeeeff;
  float: right;
  margin-top: 30%;
  font-size: 60px;
}

.leftArrow {
  color: #eeeeff;

  height: 5%;
  width: 5%;
  float: left;
  margin-top: 30%;
  font-size: 60px;
}

.fa-guthub {
  font-family: 'Baloo Bhaijaan', cursive;


}
span {
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 20px;
}
.techs {
  color: #eeeeff;
  text-align: left;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 20px;
  margin-left: 43px;
}
p.fa {
  margin-bottom: 10px;
  display: block;
  color: #eeeeff;
  font-size: 25px;
}
.projectSkillsContainer {
  display: flex;
  flex-wrap: wrap;
  /*height: 275px;*/
  width: 90%;
  margin: 10px auto;
}
.projectSkills  {
  /*height: 70px;
  width: 80px;
  background-color: white;
  display: inline-block;*/
  flex: 1 0 20%;
  margin: 5px;
  height: 70px;
  width: 80px;
  background-color: #fb7776;
  box-shadow: 3px 2px 2px black;
}

.projectSkillsTags {
  height: 100%;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 18px;
  width: 100%;
  color: #eeeeff;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.listMainContainer {
  height: 300px;
  width: 80%;
  margin: 0 0 0 0;
}

.gitHubLink {
  font-size: 18px;

}
.gitHubLink:hover {
  text-decoration: none;

}
.gitHubContainer {
  height: 110px;
  width: 110px;
  /*display: inline-block;*/
  margin: 0 auto;
}

.useTagsContainer {
  height: 40px;
  width: 190px;
  float: left;
  display: inline-block;
  /*padding-right: 143px;*/
}

.useTags {
  margin: 0 0 0 0;
  font-size: 22px;
  color: #eeeeff;
  font-family: 'Baloo Bhaijaan', cursive;
  /*font-family: 'Black Ops One', cursive;*/
}

.resumeLink {
  font-size: 29px;
  margin-top: 15px;
  margin-bottom: -20px;
  font-family: 'Baloo Bhaijaan', cursive;
}

img {
  height: 100%;
  width: 100%;
}
